@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-gray-main: oklch(44.9% 0.03 220.5);
  --color-green-main: oklch(70.6% 0.18 157.2);
  --color-peach-main: oklch(72.5% 0.16 35.3);
  --color-gray-lighter: oklch(67.1% 0.02 220.5);
  --color-green-dark: oklch(41.2% 0.06 172.2);
  --color-gray-light: oklch(52.4% 0.03 220.5);
  --color-peach-light: oklch(93.5% 0.05 40.1);
  --color-green-light: oklch(92.4% 0.05 157.2);
}

:root {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}